.description
	.container
		.row.no-gutters.justify-content-between
			.description__info
				.social.visible-xs
					a(href="#").social__item.social__item--instagram.middle
					a(href="#").social__item.social__item--vk.middle
				.description__text
					| Водоем, размерами 40х20м. Расположенный в Богородском районе. Стоимость строительства водоема под ключ 400р. Этапы строительства водоема...
					a(href="#").link Подробнее 
				.description__btns
					a(href="#").btn Хочу такой же
					a(href="#", data-toggle="modal", data-target="#calculation").btn Калькулятор расчета
			.social.hidden-xs
				a(href="#").social__item.social__item--instagram.middle
				a(href="#").social__item.social__item--vk.middle