.slider.slider--bottom
	.slider__item.row.no-gutters.align-items-center
		.carousel
			.slider__img(style="background-image: url(images/slide3.jpg)")
			.slider__img(style="background-image: url(images/slide2.jpg)")
	include descr