.slider
	.slider__item.row.no-gutters.align-items-center
		.carousel
			.slider__img(style="background-image: url(images/slide1.jpg)")
			.slider__img(style="background-image: url(images/slide2.jpg)")
		.slider__title
			.container
				h2 Искусственные водоемы
				h4 От проектирования до воплощения
			//- .slider__form
			//- 	.container
			//- 		input.form-control.form-control--slide.middle(
			//- 			type="text" 
			//- 			placeholder="Телефон"
			//- 		)
			//- 		button(type="submit").button.button--slide получить консультацию
