extends pug/base

append vars
	//- ...

block content
	include pug/header
	include pug/slider
	include pug/descr
	include pug/slider2
	include pug/descr
	include pug/slider3
	include pug/descr
	include pug/contacts
	include pug/map
	include pug/footer
	include pug/modal
	