extends pug/base

append vars
	//- ...

block content
	include pug/header
	.main-content-wrapper
		include pug/slider
		include pug/slider2
		include pug/slider3
		include pug/slider2
	include pug/contacts
	include pug/map
	include pug/footer
	include pug/modal
	