@import "variables";

.btn{
	display: inline-block;
	vertical-align: middle;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	position: relative;
	padding: 10px 0;

	&--middle{
		font-size: 16px;
	}
	&:before,
	&:after{
		content: "";
		display: block;
		position: absolute;
		z-index: 2;
		top: 0;
		height: 1px;
		width: 70%;
		left: 50%;
		margin-left: -35%;
		background: #fff;
	}
	&:after{
		top: auto;
		bottom: 0;
	}

	&:hover{
		color: $color-yellow;

		&:before,
		&:after{
			background: $color-yellow;
		}
	}
}
.link{
	color: $color-yellow;
	text-transform: uppercase;
	font-size: 18px;
	margin-left: 10px;
	position: relative;


	&:after{
		content: "";
		display: inline-block;
		width: 11px;
		height: 13px;
		background: url(../images/link-arrow.png)no-repeat;
	}
}
.up-button{
	text-align: center;
	width: 210px;
	padding: 15px;
	color: #fff;
	background: #000;
	border: 1px solid #fff;
	font-size: 18px;
	text-transform: uppercase;
	border-radius: 50px;
}
.caret-icon{
	width: 13px;
	height: 13px;	
	background: url(../images/caret.png)no-repeat;
	margin-right: 20px;
	position: relative;
	top: -1px;
}
@media(max-width: 991px){
	.link{
		font-size: 16px;
	}
}
@media(max-width: 767px){
	.btn{
		font-size: 13px;
	}
	.link{
		font-size: 15px;
	}
}
@media(max-width: 575px){
	.btn{
		font-size: 12px;
	}
}