.footer{
	color: #fff;
	padding-top: 65px;
	padding-bottom: 50px;
	background: $color-main;
	position: relative;
	z-index: 2;

	&__info{
		text-align: center
	}
	&__contacts{
		margin: 30px 0;

		&__item{
			font-size: 20px;
			margin: 5px 20px;
		}
	}
}
.copyright{
	font-size: 16px;
	color: rgba(255,255,255,0.6);
}

@media(max-width: 991px){
	.footer__contacts__item {
    font-size: 16px;
    margin: 5px;
	}
}
@media(max-width: 767px){
	.up-button{
		margin: auto;
	}
	.footer{
		&__social{
			width: 100%;
			margin-top: 30px;
			text-align: center;
		}
		.logo{
			width: 100%;
			text-align: center;
			margin-top: 35px;
		}
		&__info{
			width: 100%;
		}
	}
	.copyright{
		font-size: 14px;
	}
}