// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS
$color-yellow: #efd99b;
$bg-header: rgba(42,44,50,0.9); 
$bg-descr: rgba(42,44,50,0.8);
$bg-input: rgba(42,44,50,0.7);
$color-main: #2a2c32; 

// FONTS
$regular: 'GOTHIC';

